* {
    background-color: #282a36;
    color: white;
}

h1 {
    color: rgb(252, 132, 20);
    background-color: rgb(69, 74, 124);
    font-size: 45px;
    font-weight: 1000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 0.5em;
    margin: 0 auto;
    border: 3px solid rgb(190, 140, 243);
}

h2 {
    color: rgb(235, 131, 195);
    background-color: rgb(54, 58, 83);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0.2em;
    border: 3px solid rgb(167, 216, 238);
}

img {
    width: 300px;
    height: auto;
    margin-left: 25%;
    margin-top: 15px;
    border: 5px solid black;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: large;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: rgb(41, 41, 63);
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: rgb(41, 41, 63);
}

body {
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    border: 5px solid rgb(27, 4, 46);
    background-color: rgb(41, 41, 63);
}

li strong {
    color: rgb(158, 106, 182);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

ol {
    padding-left: 3em;
    padding-right: 1.5em;
    background-color: rgb(41, 41, 63);
}

ul {
    background-color: rgb(41, 41, 63);

}
